.menu{
    overflow: hidden;
    position: relative;
    background-color:   rgb(20, 20, 59);
    width: 1720px;
    height: 910px;
    position: relative;
    right: 17px;
}
.addlist{
    color:white;
    background-color:rgb(47, 64, 150);
    height: 500px;
    position: relative;
    top: 200px;
    right: 17px;
}
.addlist h2{
    font-size: 3rem;
    color: white;
    position: relative;
    top: 200px;
    left: 600px;
}